//__COLORS__
$defaultWhite: #fff;
$defaultGreen: #038f28;
$mint: #90fc9b;
$defaulGray: #999;
$lightGray: #ededed;
$darkGray: #333;
$lightPink: #ffd4e5;
$lightBlue: #b6e4fc;
$defaultCoral: #ff7f50;
$defaultPink: #f7a8b3;

//__SCREEN WIDTH__
$screen-width-mobile-lg: 576px;
